---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import NavBar from '../components/navbar/NavBar.astro';
---
<div class="layout">
	
	<Layout title="Welcome to Portfolio.">
	<NavBar/>
	</Layout>
	
</div>


<style>
	.layout h1 {
		color: red;
	}
</style>
