<div class="sidebar">
    <div class="top">
        <div class="logo">
            <i class="bx bxl-codepen"></i>
            <span>CodeCommerce</span>
        </div>
        <i class="bx bx-menu" id="btn"></i>
    </div>
    <div class="user">
        <img src="" alt="mukul" srcset="" class="mukul-img" />
        <div class="userdiv">
            <p>MUKUL SHARMA</p>
        </div>
    </div>
    <ul>
        <li>
            <a href="#">
                <i class="bx bx-home"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-home"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-home"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-home"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bx-home"></i>
            </a>
        </li>
        
    </ul>
</div>
